<?xml version="1.0" ?>
<!--
/**
 * Line_Modo
 *
 * @author Line https://line.com.ar/
 * @license OSL-3.0 https://opensource.org/license/osl-3.0.php
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Line_Modo::config_line_modo" title="payments"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales" title="Sales" translate="title" sortOrder="20">
                    <resource id="Magento_Sales::sales_operation" title="Operations" translate="title" sortOrder="10">
                        <resource id="Magento_Sales::sales_order" title="Orders" translate="title" sortOrder="10">
                            <resource id="Magento_Sales::actions" title="Actions" translate="title" sortOrder="10">
                                <resource id="Line_Modo::instruction_email"
                                          title="Line - Send Instruction Email" translate="title" sortOrder="35"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
