<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Line_Modo
 *
 * @author Line https://line.com.ar/
 * @license OSL-3.0 https://opensource.org/license/osl-3.0.php
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Line_Modo">
        <sequence>
            <module name="Magento_Payment" />
            <module name="Line_Promotions" />
        </sequence>
    </module>
</config>
